paper-button {
    background: green;
    color: yellow;
    border-radius: 10px; 
}

core-header-panel {
  height: 100%;
}

div.welcome {
	padding-top: 50px;
	padding-left: 25px;
}

.tall {
  height: 150px;
}

#welcomeToolbar {
  background-color: #B995ED;
  color: white;
  padding: 16px 0px 16px 22px;
  font-size: xx-large;
  font-family: sans-serif;
}

#mainToolbar {
  background-color: #8E8C8F;
  color: white;
  padding: 16px 0px 16px 22px;
  font-size: xx-large;
  font-family: sans-serif;
  align: center;

}


core-header-panel#drawerPanel {
	background-color: #eee;
}

.learn {
	padding-left: 10px;
	font-size: large;
}

core-header-panel#mainPanel {
	background-color: #E6E4EB;
}

.selected {
    color: blue;
}

core-drawer-panel:not([narrow]) #navicon {
	display : none;
}

#cards {
    margin: 0 auto;
    background: #f2f2f2;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    height: 100%;
    width: 100%;
}
  
flash-card {
  display: block !important;
  width: 240px !important;
  height: 200px !important;
  margin: 20px;
}


