paper-button {
    background: green;
    color: yellow;
    border-radius: 10px; 
}

core-header-panel {
  height: 100%;
}

div.welcome {
	padding-left: 25px;
}

.tall {
  height: 150px;
}

#welcomeToolbar {
  background-color: #AD66D5;
  color: white;
  padding: 16px 0px 16px 22px;
  font-size: xx-large;
  font-family: sans-serif;
}

#mainToolbar {
  background-color: #8E8C8F;
  color: white;
  padding: 16px 0px 16px 22px;
  font-size: xx-large;
  font-family: sans-serif;
  align: center;
}


#mainToolbarText.instruction {
  font-size: x-large;
}


core-header-panel#drawerPanel {
	background-color: #eee;
}

.learn {
	padding-left: 10px;
	font-size: large;
}

core-header-panel#mainPanel {
	background-color: #E6E4EB;
}

.selected {
    color: blue;
}

core-drawer-panel:not([narrow]) #navicon {
	display : none;
}

  
flash-card {
  display: block !important;
  width: 240px !important;
  height: 200px !important;
  margin: 20px;
}


@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

core-header-panel {
  height: 100%;
}

.content {
  
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}